<h1> Hello, {{ data['ownerName'] }}</h1>
<p>Your coffee choice:</p>
<p><strong>Saturation:</strong> {{ data['saturation'] }}</p>
<p><strong>Sour:</strong> {{ data['sour'] }}</p>
<p><strong>Roasting:</strong> {{ data['roasting'] }}</p>
<p>Have a good day!</p>